<h1>login</h1>
 
<form action="/dashboard" method="POST">
    <input type="text" name="username"
        placeholder="username">
    <input type="password" name="password"
        placeholder="password">
    <button>login</button>
</form>
 
<h1> Fill the credentials for Login </h1>
  
<h5> You don't have account Please Resgister here!! <a href="/register"> Register Here  </a>  </h5> 
<!-- <li><a href="/login">Login</a></li> -->
<!-- <li><a href="/logout">Logout</a></li> -->